@import "bootstrap-sprockets"; 
@import "bootstrap";

/*colors*/
$lavender: #E0BAD7;
$pale-khaki: #E4E9B2;
$light-blue: #66B3BA;
$khaki: #E7E08B;
$plum: #904C77;

/*header*/
header {
    .container {
        background-color: $plum;
        width: inherit;
        height: fit-content;
        #home-logo {
            margin-top: 10px;
        }
        nav {
        ul {
            padding-top: 5px;
            text-align: center;
            .nav-link {
                font-size: 20px;
                a {
                color: $lavender;
                &:hover {
                    color: $light-blue
                }
            }
            }
            #profile-btn {
                padding-left:1em;
            }

        }
    }
    }
}

/*site body*/
body {
    margin-top: 80px;
    background-color: $khaki;
    .container {
        width: 100%;
    }
    #main {
        min-height: 100%;
    }
}



/* footer */
.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
  } 
  


/* debugging */
@mixin box_sizing { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

.debug-dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

#error_explanation {
    color: red; ul {
    color: red;
    margin: 0 0 30px 0; }
    }
    
.field_with_errors { @extend .has-error; 
    .form-control {
    color: $state-danger-text; 
}
    }

/* profile sidebar */

.profile-sidebar {
    background-color: $pale-khaki;
    padding: 0em 3em 2em 2em;
    .username {
        color:$plum;
    }
    p {
        text-align: center;
        padding-top: 1em;
    }

}



/* gallery */
.profile-gallery {
    padding: 2em;
    .thumbnail-container {
        width: fit-content;
        height: fit-content;
        background-color: $khaki;
        h2 {
            color: $light-blue;
            font-size: 1.5em;
        }
    }
}

.discover-gallery{
    background-color: $pale-khaki;
    padding: 10px;
    border-style: inset;
    height: fit-content;
    .thumbnail-container {
        background-color: inherit;
        height: 15em;
        h2 {
            color: $light-blue;
            font-size: 1.5em;
        }
    }
}

/* display image */
.main-image {
    text-align: center;
    padding-top: 5em;
    .img-fluid {
        max-width: 75em;
    }
}


/* buttons */
.form-submit-btn {
    margin-top: 20px;
}

/* paper.js */

canvas[resize] {
  width: 100%;
  height: 100%;
}

canvas {
  background-color: #66B3BA;
}
